<ul class="navbar-nav">
  <li class="nav-item me-2 my-auto">
    <%= link_to 'ウイスキーを探す', whiskeys_path, class: 'nav-link fs-5 fw-bold' %>
  </li>
  <li class="nav-item dropdown my-auto">
    <a class="nav-link dropdown-toggle fs-5 fw-bold" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      相性から見つける
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
      <li><%= link_to sanitize('&#129347; 飲み方を見る'), drink_ways_path, class: 'dropdown-item fw-bold text-muted' %></li>
      <li><%= link_to sanitize('&#129372; おつまみを見る'), snacks_path, class: 'dropdown-item fw-bold text-muted' %></li>
      <li><%= link_to sanitize('&#127822; フレーバーを見る'), flavors_path, class: 'dropdown-item fw-bold text-muted' %></li>
    </ul>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link fs-5 fw-bold" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      <%= render 'shared/avatar', { user: current_user, size: 40 } %>
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
      <li><%= link_to sanitize('&#128100; マイページ'), user_path(current_user), class: 'dropdown-item fw-bold text-muted' %></li>
      <li><%= link_to sanitize('&#128694;&#127995; ログアウト'), logout_path, method: :post, class: 'dropdown-item fw-bold text-muted' %></li>
    </ul>
  </li>
</ul>