<div class="container mt-5 pt-5">
  <div class="row justify-content-center">
    <h2 class="col-lg-9 text-center text-capitalize pt-3 pb-3 mb-1 shadow-sm rounded bg-<%= "#{flavors.first.group}" %>">
      <%= flavors.first.group %><br>
      <span class="fs-5">〜<%= flavors.first.group_i18n %>〜</span>
    </h2>
  </div>
</div>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-9 p-0">
      <div class="table-responsive">
        <table class="table text-nowrap text-center fs-5 rounded shadow-sm bg-<%= "#{flavors.first.group}" %>">
          <tbody class="bd-main-color">
            <%= render flavors %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>