<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @flavor.name %>
</p>

<p>
  <strong>Detail:</strong>
  <%= @flavor.detail %>
</p>

<p>
  <strong>Group:</strong>
  <%= @flavor.group %>
</p>

<%= link_to 'Edit', edit_flavor_path(@flavor) %> |
<%= link_to 'Back', flavors_path %>
