<div class="container mt-5 pt-5">
  <div class="row justify-content-center">
    <h1 class="col-auto text-muted fw-bold">
      アカウント設定
    </h1>
  </div>
</div>

<div class="container mt-5 mb-5 pb-5">
  <div class="row justify-content-center">
    <div class="col-lg-6 col-sm-10 col">
      <ul class="nav nav-tabs border-0" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link border-0 text-black active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">
            プロフィール
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link border-0 text-black" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">
            退会
          </button>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
          <div class='row rounded bg-gray p-5 ui large form error mx-0'>
            <%= form_with(model: @user) do |f| %>
              <% if @user.errors.any? %>
                <div id="error_explanation" class="ui error message">
                  <ul>
                    <% @user.errors.each do |error| %>
                      <li><%= error.full_message %></li>
                    <% end %>
                  </ul>
                </div>
              <% end %>
              <div class="required field my-4">
                <label for="user_name"><i class="user outline icon"></i>ニックネーム</label>
                <%= f.text_field :name, placeholder: 'ニックネームを入力' %>
              </div>
              <div class="field my-4">
                <label for="user_best_bottle"><i class="fa-solid fa-wine-bottle"></i>Best Bottle</label>
                <%= f.text_field :best_bottle, placeholder: 'お気に入りのウイスキーを入力' %>
              </div>
              <div class="field my-4">
                <label for="user_avatar"><i class="camera icon"></i>プロフィール画像(実装中)</label>
                <%= f.file_field :avatar, disabled: true %>
              </div>
              <div class="row justify-content-center mt-5">
                <%= f.submit '更新する', class: 'ui button teal col-auto' %>
              </div>
            <% end %>
            <div class="col-12 text-center mt-5">
              <%= link_to 'マイページに戻る', user_path(@user), class: 'col-auto simple-a-tag hover-target' %>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
          <div class='row rounded bg-gray p-5 mx-0 justify-content-center'>
            <div class="col-12">
              <h3 class="text-decoration-underline mb-3">退会時に削除される情報</h3>
              <h6>・ニックネーム</h6>
              <h6>・プロフィール画像</h6>
              <h6>・連携SNS認証情報</h6>
              <h6>・気になる！ウイスキー履歴</h6>
              <h3 class="text-decoration-underline mt-5 mb-3">退会時に削除されない情報</h3>
              <h6>・投稿したテイスティングノート</h6>
            </div>
            <div class="col-auto mt-5">
              <%= link_to '同意して退会', user_path(@user), class: 'fs-5 simple-a-tag hover-target', method: :delete, data: { confirm: '本当に退会しますか?　※この操作は取り消せません。' } %>
            </div>
            <div class="col-12 mt-5 text-center">
              <%= link_to 'マイページに戻る', user_path(@user), class: 'simple-a-tag hover-target' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script async type="text/javascript" src="https://collectcdn.com/embed.js"></script>
<iframe src="https://links.collect.chat/629c77ad9f8d485e3467cb04"  width="100%" height="600" frameBorder="0"></iframe>
