<div class="container mt-5 pt-5">
  <div class="row justify-content-center">
    <h1 class="col-auto text-muted fw-bold">
      アカウント設定
    </h1>
  </div>
</div>


<!-- 
<div class="container mt-5 mb-5 pb-5">
  <div class="row justify-content-center">
    <div class="col-lg-6 col-sm-10 col row rounded bg-gray p-5 ui large form error">
      <%= form_with(model: @user) do |f| %>
        <% if @user.errors.any? %>
          <div id="error_explanation" class="ui error message">
            <ul>
              <% @user.errors.each do |error| %>
                <li><%= error.full_message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <div class="required field my-4">
          <label for="user_name"><i class="user outline icon"></i>ニックネーム</label>
          <%= f.text_field :name, placeholder: 'ニックネームを入力' %>
        </div>
        <div class="required field my-4">
          <label for="user_email"><i class="envelope outline icon"></i>メールアドレス</label>
          <%= f.email_field :email, placeholder: 'メールアドレスを入力' %>
        </div>
        <div class="field my-4">
          <label for="user_bbb"><i class="fa-solid fa-wine-bottle"></i>Best Bottle</label>
          <%= f.text_field :bbb, placeholder: 'お気に入りのウイスキーを入力' %>
        </div>
        <div class="field my-4">
          <label for="user_avatar"><i class="camera icon"></i>プロフィール画像</label>
          <%= f.file_field :avatar %>
        </div>
        <div class="row justify-content-center mt-5">
          <%= f.submit '更新する', class: 'ui button teal col-auto' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
-->

<div class="container mt-5 mb-5 pb-5">
  <div class="row justify-content-center">
    <div class="col-lg-6 col-sm-10 col">
      <div class="ui tabular menu mb-0 border-0">
        <div class="item border-0 active" data-tab="tab-name">プロフィール</div>
        <div class="item border-0" data-tab="tab-name2">退会</div>
      </div>
      <div class="ui tab active" data-tab="tab-name">
        <div class='row rounded bg-gray p-5 ui large form error mx-0'>
          <%= form_with(model: @user) do |f| %>
            <% if @user.errors.any? %>
              <div id="error_explanation" class="ui error message">
                <ul>
                  <% @user.errors.each do |error| %>
                    <li><%= error.full_message %></li>
                  <% end %>
                </ul>
              </div>
            <% end %>
            <div class="required field my-4">
              <label for="user_name"><i class="user outline icon"></i>ニックネーム</label>
              <%= f.text_field :name, placeholder: 'ニックネームを入力' %>
            </div>
            <div class="required field my-4">
              <label for="user_email"><i class="envelope outline icon"></i>メールアドレス</label>
              <%= f.email_field :email, placeholder: 'メールアドレスを入力' %>
            </div>
            <div class="field my-4">
              <label for="user_bbb"><i class="fa-solid fa-wine-bottle"></i>Best Bottle</label>
              <%= f.text_field :bbb, placeholder: 'お気に入りのウイスキーを入力' %>
            </div>
            <div class="field my-4">
              <label for="user_avatar"><i class="camera icon"></i>プロフィール画像(実装中)</label>
              <%= f.file_field :avatar, disabled: true %>
            </div>
            <div class="row justify-content-center mt-5">
              <%= f.submit '更新する', class: 'ui button teal col-auto' %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="ui tab" data-tab="tab-name2">
        <div class='row rounded bg-gray p-5 mx-0 justify-content-center'>
          <div class="col-12">
            <h3 class="text-decoration-underline mb-3">退会時に削除される情報</h3>
            <h6>・ニックネーム</h6>
            <h6>・メールアドレス</h6>
            <h6>・プロフィール画像</h6>
            <h6>・連携SNS認証情報</h6>
            <h6>・気になる！ウイスキー履歴</h6>
            <h3 class="text-decoration-underline mt-5 mb-3">退会時に削除されない情報</h3>
            <h6>・投稿したテイスティングノート</h6>
          </div>
          <div class="col-auto mt-5">
            <%= link_to '同意して退会', user_path(@user), class: 'fs-5 simple-a-tag hover-target', method: :delete, data: { confirm: '本当に削除しますか?' } %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= javascript_include_tag "tab_menus.js" %>
<!--
<%= render 'form', user: @user %>

<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>
-->
