<div class="container mt-5 pt-5">
  <div class="row justify-content-center">
    <h1 class="col-auto text-muted fw-bold">
      マイページ
    </h1>
  </div>
</div>

<div class="container mt-5 mb-5 pb-5">
  <div class="row justify-content-center">
    <div class="col-lg-9 col-auto row justify-content-center text-center rounded bg-gray py-5">
      <div class="col-lg-3 py-3">
        <div class="row justify-content-center">
          <div class="col-auto">
            <%= render 'shared/avatar', { user: @user, size: 150 } %>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="ui labeled button col-auto mt-3">
            <div class="ui button white basic small">
              <i class="fa-solid fa-whiskey-glass fa-lg"></i> 投稿数
            </div>
            <div class="ui basic white left pointing label">
              <%= @tasting_notes.length %>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-9 my-auto text-center text-lg-start text-muted">
        <div class="row justify-content-between my-3 pb-3">
          <div class="col-lg-auto col-12 fs-3 my-auto">
            <%= @user.name %>
          </div>
          <% if current_user == @user %>
            <%= link_to edit_user_path(@user), class: 'circular ui icon button col-lg-auto col-12 u-set fs-2 me-3 p-3' do %>
              <i class='icon cog'></i>
            <% end %>
          <% end %>
        </div>
        <div class="row my-3 pt-3">
          <h4 class="col-lg-auto col-12">
            <i class="fa-solid fa-wine-bottle"></i> Best Bottle
          </h4>
          <% if @user.best_bottle.present? %>
            <div class="col-12 fs-2 fw-bold text-black">
              <%= @user.best_bottle %>
            </div>
          <% else %>
            <div class="col-12 fs-2 fw-bold">
              まだ設定されていません
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container mt-5 mb-3 pt-5">
  <div class="row justify-content-center">
    <h1 class="col-lg-9 col text-muted text-lg-start text-center">
      気になる！一覧
    </h1>
  </div>
  <div class="row justify-content-center">
    <div class="col-lg-9 col ui divider border-2">
    </div>
  </div>
</div>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-9 col pe-0">
      <div class="row ps-0 pb-4 flex-row flex-nowrap overflow-auto">
        <%= render partial: 'bookmark', collection: @user.whiskeys, as: 'whiskey' %>
      </div>
    </div>
  </div>
</div>

<div class="container mt-5 mb-3 pt-5">
  <div class="row justify-content-center">
    <h1 class="col-lg-9 col text-muted text-lg-start text-center">
      テイスティングノート一覧
    </h1>
  </div>
  <div class="row justify-content-center">
    <div class="col-lg-9 col ui divider border-2">
    </div>
  </div>
</div>

<div class="container mb-5">
  <%= render partial: 'tasting_notes/note', collection: @tasting_notes %>
</div>
