<%= form_with(model: tasting_note) do |form| %>
  <% if tasting_note.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tasting_note.errors.count, "error") %> prohibited this tasting_note from being saved:</h2>

      <ul>
        <% tasting_note.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :comment %>
    <%= form.text_field :comment %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :drink_way_id %>
    <%= form.text_field :drink_way_id %>
  </div>

  <div class="field">
    <%= form.label :flavor_id %>
    <%= form.text_field :flavor_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
