<% if controller_name == 'users' %>
  <div class="row justify-content-center">
    <div class="col-lg-9 rounded shadow text-center text-muted bg-gray pe-0 py-3">
      <%= link_to whiskey_path(note.whiskey), class: 'simple-a-tag' do %>
        <i class="fa-solid fa-wine-bottle"></i> <span class="hover-target"><%= note.whiskey.name %></span> のノート
      <% end %>
    </div>
  </div>
<% end %>

<div class="row justify-content-center">
  <div class="col-lg-9 rounded shadow bg-white pe-0">
    <div class="row justify-content-sm-between">
      <%= link_to user_path(note.user), class: 'col-auto text-white bg-navy py-3 simple-a-tag fs-5 hover-target-reverse' do %>
        <%= image_tag 'default_icon.png', class: 'ui avatar image' %>
        <%= note.user.name %>`s Note
      <% end %>
      <h5 class="col-sm-auto col-12 py-3 text-center">
        <% if logged_in? && current_user.own?(note) %>
          <%= link_to '　編集　', edit_tasting_note_path(note), class:'btn bg-edit text-white rounded-pill hover-target' %>
          <%= link_to '　削除　', tasting_note_path(note), class:'btn bg-delete text-white rounded-pill hover-target ms-1 me-3', method: :delete, data: { confirm: '本当に削除しますか?' } %>
        <% end %>
      </h5>
    </div>
    <div class="row justify-content-center my-3">
      <div class="col-8">
        <span class="text-muted">飲み方：</span>
        <div class="ui label basic image large me-3">
          <%= image_tag 'icon_drink.jpg' %>
          <%= note.drink_way.name %>
        </div>
      </div>
    </div>
    <div class="row justify-content-center my-3">
      <div class="col-8">
        <span class="text-muted">感じたフレーバー：</span>
        <span class="d-md-none"><br></span>
        <span class="ui text-white label-woody tag label ms-3 my-1">バニラ</span>
        <span class="ui text-white label-fruity tag label ms-3 my-1">ドライフルーツ</span>
        <span class="ui text-white label-smoky tag label ms-3 my-1">ピーティ</span>
      </div>
    </div>
    <div class="row justify-content-center my-3">
      <div class="col-lg-8 col-10">
        <%= simple_format(h(note.comment)) %>
      </div>
    </div>
  </div>
</div>