<p id="notice"><%= notice %></p>

<h1>Tasting Notes</h1>

<table>
  <thead>
    <tr>
      <th>Comment</th>
      <th>User</th>
      <th>Drink way</th>
      <th>Flavor</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tasting_notes.each do |tasting_note| %>
      <tr>
        <td><%= tasting_note.comment %></td>
        <td><%= tasting_note.user_id %></td>
        <td><%= tasting_note.drink_way_id %></td>
        <td><%= tasting_note.flavor_id %></td>
        <td><%= link_to 'Show', tasting_note %></td>
        <td><%= link_to 'Edit', edit_tasting_note_path(tasting_note) %></td>
        <td><%= link_to 'Destroy', tasting_note, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tasting Note', new_tasting_note_path %>
