<div class="container-fluid top-img text-white">
  <% flash.each do |message_type, message| %>
    <div class="alert alert-<%= message_type %> text-center"><%= message %></div>
  <% end %>
  <div class="row inner-text ms-lg-3 text-center">
    <h1 class="fw-bold col-lg-7">カジュアルに楽しむ</h1>
    <h1 class="fw-bold col-lg-7">ウイスキー情報サービス（コピー募集中）</h1>
    <div class="col-lg-7 row justify-content-center my-3">
      <%= search_form_for @q, url: whiskeys_path, class: 'col-auto' do |f| %>
        <%= render 'shared/search_bar', f: f %>
      <% end %>
    </div>
    <div class="col-lg-7 mt-3">
      <%= link_to 'さっそく見に行く', whiskeys_path, class: 'huge ui inverted button basic btn-ani btn-left rounded-pill' %>
    </div>
  </div>
</div>

<!-- to each index -->
<div class="container mt-5 pt-5 mb-3">
  <div class="row justify-content-center">
    <h1 class="col-auto text-muted text-center">
      こんな探し方ができます
    </h1>
  </div>
  <div class="row justify-content-center mt-4">
    <div class="col-lg-9 col-6 ui divider border-2">
    </div>
  </div>
</div>
<div class="container text-center mb-5">
  <div class="row">
    <div class="col-lg-6 my-5">
      <h3 class="mb-4">飲み方<small>から</small></h3>
      <%= image_tag 'drink_way.webp', class: 'rounded-3', size: '300x200' %>
      <p class="my-3">
        おなじみの飲み方から、通なものまで。<br>
        それぞれの飲み方と相性の良いウイスキーを探せます。<br>
        作り方も記載しています。
      </p>
      <p><%= link_to '見に行く！', drink_ways_path, class: 'ui orange button rounded-3' %></p>
    </div>
    <div class="col-lg-6 my-5">
      <h3 class="mb-4">おつまみ<small>から</small></h3>
      <%= image_tag 'snack.webp', class: 'rounded-3', size: '300x200' %>
      <p class="my-3">
        ウイスキーに合うと言われるおつまみから<br>
        相性の良いボトルを探せます。<br>
        たまにはおつまみから選んでみるのも？
      </p>
      <p><%= link_to '見に行く！', snacks_path, class: 'ui orange button rounded-3' %></p>
    </div>
    <div class="col-lg-6 my-5">
      <h3 class="mb-4">フレーバー<small>から</small></h3>
      <%= image_tag 'flavor.webp', class: 'rounded-3', size: '300x200' %>
      <p class="my-3">
        フルーティ、ウッディなど大まかな分類と<br>
        ピーチ、バニラ、モルトなど更に細かい要素から探せます。<br>
        フレーバーを学ぶきっかけにも。
      </p>
      <p><%= link_to '見に行く！', flavors_path, class: 'ui orange button rounded-3' %></p>
    </div>
    <div class="col-lg-6 my-5">
      <h3 class="mb-4">テイスティングノート<small>から</small></h3>
      <svg class="bd-placeholder-img rounded-3" width="300" height="200" xmlns="http://www.w3.org/2000/svg">
        <title>Placeholder</title>
        <rect width="100%" height="100%" fill="#777"></rect>
        <text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>
      </svg>
      <p class="my-3">
        〇〇(サービス名)ではユーザーの口コミも指標の一つ。<br>
        参考にするも良し、メモとして投稿するのも良し、<br>
        ぜひ一度覗いてみてください。
      </p>
      <p><%= link_to '実装中！', '#', class: 'ui orange button rounded-3' %></p>
    </div>
    <div class="col-lg-6 my-5">
      <h3 class="mb-4">生産国<small>から</small></h3>
      <svg class="bd-placeholder-img rounded-3" width="300" height="200" xmlns="http://www.w3.org/2000/svg">
        <title>Placeholder</title>
        <rect width="100%" height="100%" fill="#777"></rect>
        <text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>
      </svg>
      <p class="my-3">
        今日はスモーキーなスコッチが欲しい。<br>
        今は甘いバーボンの気分。<br>
        そんな選び方もできちゃいます。
      </p>
      <p><%= link_to '実装中！', '#', class: 'ui orange button rounded-3' %></p>
    </div>
  </div>
</div>
