<% set_meta_tags title: '' %>
<div class="container-fluid top-img text-white">
  <div class="row justify-content-center f-orange pt-5">
    <% flash.each do |message_type, message| %>
      <div class="fw-bold bg-glass col-auto p-3 rounded-pill"><i class="check icon"></i><%= message %></div>
    <% end %>
  </div>
  <div class="row inner-text ms-lg-3 text-center">
    <h1 class="fw-bold col-lg-7">相性から探せる</h1>
    <h1 class="fw-bold col-lg-7">ウイスキー情報サービス</h1>
    
      <%= search_form_for @q, url: whiskeys_path, class: 'col-lg-7 row justify-content-center my-3' do |f| %>
        <div class="ui action large input col-xl-6 col-md-8 col-10">
          <%= f.text_field :name_or_description_cont, class: 'rounded-left border-0', placeholder: 'ウイスキー名を入力' %>
          <%= button_tag type: :submit, class: 'ui icon button rounded-right bg-white' do %>
            <i class="fa-solid fa-magnifying-glass fa-xl hover-target-reverse f-navy"></i>
          <% end %>
        </div>
      <% end %>
    
    <div class="col-lg-7 mt-3">
      <%= link_to 'さっそく見に行く', whiskeys_path, class: 'huge ui inverted button basic btn-ani btn-left rounded-pill' %>
    </div>
    <div class="row col-lg-7 justify-content-center mt-5 d-sm-none">
      <%= image_tag 'logo_with_title.webp', class: 'col-6' %>
    </div>
  </div>
</div>

<!-- to each index -->
<div class="container mt-5 pt-5 mb-3">
  <div class="row justify-content-center">
    <h1 class="col-auto text-muted text-center fw-bold">
      こんな探し方ができます
    </h1>
  </div>
  <div class="row justify-content-center mt-4">
    <div class="col-lg-9 col-6 ui divider border-2">
    </div>
  </div>
</div>

<div class="container text-center mb-5">
  <div class="row">
    <div class="col-lg-6 my-5">
      <h3 class="mb-4">飲み方<small>から</small></h3>
      <%= image_tag 'drink_way.webp', class: 'rounded-3', size: '300x200' %>
      <p class="my-3">
        おなじみの飲み方から、通なものまで。<br>
        それぞれの飲み方と相性の良いウイスキーを探せます。<br>
        作り方も記載しています。
      </p>
      <p><%= link_to '見に行く！', drink_ways_path, class: 'ui orange button rounded-3' %></p>
    </div>
    <div class="col-lg-6 my-5">
      <h3 class="mb-4">おつまみ<small>から</small></h3>
      <%= image_tag 'snack.webp', class: 'rounded-3', size: '300x200' %>
      <p class="my-3">
        ウイスキーに合うと言われるおつまみから<br>
        相性の良いボトルを探せます。<br>
        たまにはおつまみから選んでみるのも？
      </p>
      <p><%= link_to '見に行く！', snacks_path, class: 'ui orange button rounded-3' %></p>
    </div>
    <div class="col-lg-6 my-5">
      <h3 class="mb-4">フレーバー<small>から</small></h3>
      <%= image_tag 'flavor.webp', class: 'rounded-3', size: '300x200' %>
      <p class="my-3">
        フルーティ、ウッディなど大まかな分類と<br>
        ピーチ、バニラ、モルトなど更に細かい要素から探せます。<br>
        フレーバーを学ぶきっかけにも。
      </p>
      <p><%= link_to '見に行く！', flavors_path, class: 'ui orange button rounded-3' %></p>
    </div>
    <div class="col-lg-6 my-5">
      <h3 class="mb-4">テイスティングノート<small>から</small></h3>
      <%= image_tag 'note.webp', class: 'rounded-3', size: '300x200' %>
      <p class="my-3">
        Malt Mateではテイスティングノートを記録できます。<br>
        参考にするも良し、メモとして投稿するのも良し、<br>
        ぜひ一度覗いてみてください。
      </p>
      <p><%= link_to '見に行く！', tasting_notes_path, class: 'ui orange button rounded-3' %></p>
    </div>
  </div>
</div>

<%= javascript_include_tag "header.js" %>