<header>
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top p-3 header-main">
    <div class="container">
      <%= link_to '/', class: 'navbar-brand d-none d-lg-inline hover-target-reverse' do %>
        <i class="fa-solid fa-whiskey-glass fa-xl"></i> Whiskey Database
      <% end %>
      <%= link_to '/', class: 'navbar-brand d-lg-none d-inline hover-target-reverse' do %>
        <i class="fa-solid fa-wine-bottle fa-xl"></i>
      <% end %>
      <%= form_with url: '#', local: true, class: 'ms-lg-15' do |f| %>
        <div class="input-group">
          <%= f.text_field :keyword, class: 'form-control-lg border-0 rounded-left search-width', placeholder: '(実装中)ウイスキー名を入力' %>
          <%= button_tag type: :submit, disabled: true, class: "btn bg-white rounded-right" do %>
            <i class="fa-solid fa-magnifying-glass fa-xl hover-target-reverse f-navy"></i>
          <% end %>
        </div>
      <% end %>
      <button class="navbar-toggler px-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item me-2">
            <%= link_to 'Whiskeys', whiskeys_path, class: 'nav-link fs-5 fw-bold' %>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle fs-5 fw-bold" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Others
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><%= link_to '飲み方一覧', drink_ways_path, class: 'dropdown-item' %></li>
              <li><%= link_to 'おつまみ一覧', snacks_path, class: 'dropdown-item' %></li>
              <li><%= link_to 'フレーバー一覧', flavors_path, class: 'dropdown-item' %></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link fs-5 fw-bold text-decoration-line-through" href="#">Login</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
