<header>
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top p-3">
    <div class="container">
      <%= link_to '/', class: 'navbar-brand d-none d-lg-inline hover-target-reverse' do %>
        <i class="fa-solid fa-whiskey-glass fa-xl"></i> Whiskey Database
      <% end %>
      <%= link_to '/', class: 'navbar-brand d-lg-none d-inline hover-target-reverse' do %>
      <i class="fa-solid fa-wine-bottle fa-xl"></i>
      <% end %>
      <%= search_form_for @q, url: whiskeys_path, class: 'ms-lg-15 d-none', id: 'js-search-form' do |f| %>
        <%= render 'shared/search_bar', f: f %>
      <% end %>
      <button class="navbar-toggler px-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
        <%= separate_menu %>
      </div>
    </div>
  </nav>
</header>
