<p id="notice"><%= notice %></p>

<h1>Drink Ways</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>How to make</th>
      <th>Explantion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @drink_ways.each do |drink_way| %>
      <tr>
        <td><%= drink_way.name %></td>
        <td><%= drink_way.how_to_make %></td>
        <td><%= drink_way.explantion %></td>
        <td><%= link_to 'Show', drink_way %></td>
        <td><%= link_to 'Edit', edit_drink_way_path(drink_way) %></td>
        <td><%= link_to 'Destroy', drink_way, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Drink Way', new_drink_way_path %>
