<p id="notice"><%= notice %></p>

<div class="container mt-5 pt-5">
  <div class="row justify-content-center">
    <h1 class="col-auto text-muted text-center">
      <em>How to Drink</em><br>
      <span class="fs-3">〜飲み方一覧〜</span>
    </h1>
  </div>
  <div class="row justify-content-center mt-4">
    <div class="col-lg-9 ui divider border-2">
    </div>
  </div>
</div>

<%= render @drink_ways %>

<!-- for admin -->
<table class="text-center">
  <thead>
    <tr>
      <th>Name</th>
      <th>English_name</th>
      <th>How to make url</th>
      <th>Explanation</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @drink_ways.each do |drink_way| %>
      <tr>
        <td><%= drink_way.name %></td>
        <td><%= drink_way.english_name %></td>
        <td><%= drink_way.how_to_make_url %></td>
        <td><%= simple_format(h(drink_way.explanation)) %></td>
        <td><%= link_to 'Show', drink_way %></td>
        <td><%= link_to 'Edit', edit_drink_way_path(drink_way) %></td>
        <td><%= link_to 'Destroy', drink_way, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Drink Way', new_drink_way_path %>
