<% set_meta_tags title: '絞り込み検索' %>
<div class="container mt-5 pt-5">
  <div class="row justify-content-center">
    <h1 class="col-auto text-muted text-center fw-bold">
      絞り込み検索
    </h1>
  </div>
</div>


<%= search_form_for @q, url: whiskeys_path, class: 'container my-5' do |f| %>
  <div class="row justify-content-center">
    <div class="ui action large input col-lg-4 col-md-6 col-10">
      <%= f.text_field :name_or_description_cont, class: 'rounded-left border-0', placeholder: 'ウイスキー名を入力' %>
      <%= button_tag type: :submit, class: 'ui icon button rounded-right bg-white' do %>
        <i class="fa-solid fa-magnifying-glass fa-xl hover-target-reverse f-navy"></i>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6 col-12">
      <div class="row justify-content-lg-center mt-5 mb-2">
        <%= f.label :processing, class: 'fs-5 fw-bold col-lg-10 col-12 m-1 text-muted' %>
      </div>
      <div class="row justify-content-lg-center">
        <div class="col-lg-10 col-auto">
          <% Whiskey.processings_i18n.each do |k, v| %>
            <%= f.label "processing_eq_any_#{k}" do %>
              <%= f.check_box :processing_eq_any, { class: 'btn-check', multiple: true, include_hidden: false }, k %>
              <span class='btn btn-secondary btn-search m-1'><%= v %></span>
            <% end %>
          <% end %>
        </div>
      </div>

      <div class="row justify-content-lg-center mt-5 mb-2">
        <%= f.label :region, class: 'fs-5 fw-bold col-lg-10 col-12 m-1 text-muted' %>
      </div>
      <div class="row justify-content-lg-center">
        <div class="col-lg-10 col-auto">
          <% Whiskey.regions_i18n.each do |k, v| %>
            <%= f.label "region_eq_any_#{k}" do %>
              <%= f.check_box :region_eq_any, { class: 'btn-check', multiple: true, include_hidden: false }, k %>
              <span class='btn btn-secondary btn-search m-1'><%= v %></span>
            <% end %>
          <% end %>
        </div>
      </div>

      <div class="row justify-content-lg-center mt-5 mb-2">
        <%= f.label :price, class: 'fs-5 fw-bold col-lg-10 col-12 m-1 text-muted' %>
      </div>
      <div class="row justify-content-lg-center">
        <div class="col-lg-10 col-auto">
          <div class="ui input mini right labeled">
            <%= f.number_field :price_gteq, min: 0, max: 100000, placeholder: '0' %>
            <div class="ui basic label bg-gray">
              ¥
            </div>
            <%= f.label :price_lteq, "　〜　", class: 'my-auto fw-bold' %>
            <%= f.number_field :price_lteq, min: 0, max: 100000, placeholder: '50,000' %>
            <div class="ui basic label bg-gray">
              ¥
            </div>
          </div>
        </div>
      </div>

      <div class="row justify-content-lg-center mt-5 mb-2">
        <%= f.label :rarity, class: 'fs-5 fw-bold col-lg-10 col-12 m-1 text-muted' %>
      </div>
      <div class="row justify-content-lg-center">
        <div class="col-lg-10 col-auto">
          <% Whiskey.rarities_i18n.each do |k, v| %>
            <%= f.label "rarity_eq_any_#{k}" do %>
              <%= f.check_box :rarity_eq_any, { class: 'btn-check', multiple: true, include_hidden: false }, k %>
              <span class='btn btn-secondary btn-search m-1'><%= v %></span>
            <% end %>
          <% end %>
        </div>
      </div>

      <div class="row justify-content-lg-center mt-5 mb-2">
        <%= f.label :mouth_feel, class: 'fs-5 fw-bold col-lg-10 col-12 m-1 text-muted' %>
      </div>
      <div class="row justify-content-lg-center">
        <div class="col-lg-10 col-auto">
          <% Whiskey.mouth_feels_i18n.each do |k, v| %>
            <%= f.label "mouth_feel_eq_any_#{k}" do %>
              <%= f.check_box :mouth_feel_eq_any, { class: 'btn-check', multiple: true, include_hidden: false }, k %>
              <span class='btn btn-secondary btn-search m-1'><%= v %></span>
            <% end %>
          <% end %>
        </div>
      </div>

      <div class="row justify-content-lg-center mt-5 mb-2">
        <%= f.label :flavor_strength, class: 'fs-5 fw-bold col-lg-10 col-12 m-1 text-muted' %>
      </div>
      <div class="row justify-content-lg-center">
        <div class="col-lg-10 col-auto">
          <% Whiskey.flavor_strengths_i18n.each do |k, v| %>
            <%= f.label "flavor_strength_eq_any_#{k}" do %>
              <%= f.check_box :flavor_strength_eq_any, { class: 'btn-check', multiple: true, include_hidden: false }, k %>
              <span class='btn btn-secondary btn-search m-1'><%= v %></span>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>


    <div class="col-sm-6 col-12">
      <div class="row justify-content-lg-center mt-5 mb-2">
        <%= f.label :drink_way_id, class: 'fs-5 fw-bold col-lg-10 col-12 m-1 text-muted' %>
      </div>
      <div class="row justify-content-lg-center">
        <div class="col-lg-10 col-auto">
          <%= f.collection_check_boxes(:drink_way_id_eq_any, DrinkWay.all, :id, :name) do |t| %>
            <%= t.label do %>
              <%= t.check_box class: 'btn-check' %>
              <span class='btn btn-secondary btn-search m-1'><%= t.text %></span>
            <% end %>
          <% end %>
        </div>
      </div>

      <div class="row justify-content-lg-center mt-5 mb-2">
        <%= f.label :snack_id, class: 'fs-5 fw-bold col-lg-10 col-12 m-1 text-muted' %>
      </div>
      <div class="row justify-content-lg-center">
        <div class="col-lg-10 col-auto">
          <%= f.collection_check_boxes(:snack_id_eq_any, Snack.all, :id, :name) do |t| %>
            <%= t.label do %>
              <%= t.check_box class: 'btn-check' %>
              <span class='btn btn-secondary btn-search m-1'><%= t.text %></span>
            <% end %>
          <% end %>
        </div>
      </div>

      <div class="row justify-content-lg-center mt-5 mb-2">
        <%= f.label :flavor_id, class: 'fs-5 fw-bold col-lg-10 col-12 m-1 text-muted' %>
      </div>
      <div class="row justify-content-lg-center">
        <div class="col-lg-10 col-auto">
          <%= f.collection_check_boxes(:flavors_id_eq_any, Flavor.all, :id, :name) do |t| %>
            <%= t.label do %>
              <%= t.check_box class: 'btn-check' %>
              <span class='btn btn-secondary btn-search m-1'><%= t.text %></span>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row justify-content-center mt-5 mb-2">
    <%= f.submit '　絞り込む　', class: 'ui button orange col-auto' %>
  </div>

  <div class="row justify-content-center mt-5 mb-2">
    <%= link_to '一覧に戻る', whiskeys_path, class: "simple-a-tag hover-target text-muted col-auto" %>
  </div>
<% end %>
