<div class="col-6 transform-y-lg">
  <div class="row bg-white border rounded overflow-hidden flex-md-row mb-sm-4 shadow h-sm-250 position-relative card py-sm-0 py-3">
    <div class="col-xl-4 col-12 mx-auto my-xl-auto my-lg-5 my-sm-3 text-center sm-small">
      <%= link_to whiskey.amazon_link, target: '_blank' do %><%= image_tag whiskey.amazon_image_link, class: 'border-none img-fluid sm-small' %><% end %> 
      <%= image_tag whiskey.amazon_impression_link, alt: '', size: '1x1', style: 'border:none !important; margin:0px !important' %>
    </div>
    <div class="col-xl-8 col-auto p-4 my-auto d-none d-sm-block">
      <div class="row text-muted">
        <%= whiskey.region_i18n %>ウイスキー　/　<%= whiskey.processing_i18n %>
      </div>
      <div class="row fs-lg-4 fs-5 fw-bold mt-3 mb-4"> 
        <%= whiskey.name %>
      </div>
      <div class="row">
        <div class="col-auto ps-0">
          <div class="ui orange image label fw-light">
            <%= image_tag 'icon_clip.png' %>
            気になる！数
            <div class="detail"><%= whiskey.bookmarks.length %></div>
          </div>
        </div>
        <div class="col-auto">
          <div class="ui bg-li-navy text-white image label fw-light">
            <%= image_tag 'icon_pen.png' %>
            投稿数
            <div class="detail"><%= whiskey.tasting_notes.length %></div>
          </div>
        </div>
      </div>
      <div class="row mt-4 text-muted">
        ¥<%= whiskey.price.to_s(:delimited) %>（希望小売価格）
      </div>
    </div>
    <!-- For SmartPhone(~575px)-->
    <div class="col-12 d-sm-none my-auto">
      <div class="row fs-6 fw-bold my-2 mx-1"> 
        <%= whiskey.name %>
      </div>
      <div class="row justify-content-center my-2">
        <div class="col-auto">
          <div class="ui orange image label fw-light">
            <%= image_tag 'icon_clip.png' %>
            <%= whiskey.bookmarks.length %>
          </div>
        </div>
        <div class="col-auto">
          <div class="ui bg-li-navy text-white image label fw-light">
            <%= image_tag 'icon_pen.png' %>
            <%= whiskey.tasting_notes.length %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-auto mb-sm-4 my-1 mx-auto d-lg-none"> 
      <div class="ui orange inverted button mini">
        詳しく見る
      </div>
    </div>

    <%= link_to '', whiskey_path(whiskey), class: 'stretched-link' %>
  </div>
</div>
