<div class="col-6 transform-y-md">
  <div class="row bg-white g-0 border rounded overflow-hidden flex-md-row mb-4 shadow h-md-250 position-relative card">
    <div class="col-xl-4 col-auto mx-auto my-xl-auto my-5 text-center">
      <%= link_to whiskey.amazon_link, target: '_blank' do %><%= image_tag whiskey.amazon_image_link, class: 'border-none img-fluid' %><% end %> 
      <%= image_tag whiskey.amazon_impression_link, alt: '', size: '1x1', style: 'border:none !important; margin:0px !important' %>
    </div>
    <div class="col-xl-8 col-auto p-4 d-flex flex-column position-static my-auto">
      <div class="row text-muted">
        <%= whiskey.region_i18n %>ウイスキー　/　<%= whiskey.processing_i18n %>
      </div>
      <div class="row fs-4 fw-bold mt-3 mb-4"> 
        <%= whiskey.name %>
      </div>
      <div class="row">
        <div class="col-auto ps-0">
          <div class="ui orange image label fw-light">
            <%= image_tag 'icon_drink2.png' %>
            気になる！数
            <div class="detail"><%= whiskey.bookmarks.length %></div>
          </div>
        </div>
        <div class="col-auto">
          <div class="ui bg-li-navy text-white image label fw-light">
            <%= image_tag 'icon_drink2.png' %>
            投稿数
            <div class="detail"><%= whiskey.tasting_notes.length %></div>
          </div>
        </div>
      </div>
      <div class="row mt-4 text-muted">
        ¥<%= whiskey.price.to_s(:delimited) %>（希望小売価格）
      </div>
      <%= link_to '', whiskey_path(whiskey), class: 'stretched-link' %>
    </div>
  </div>
</div>
