<p id="notice"><%= notice %></p>

<h1>Whiskeys</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @whiskeys.each do |whiskey| %>
      <tr>
        <td><%= whiskey.name %></td>
        <td><%= link_to 'Show', whiskey %></td>
        <td><%= link_to 'Edit', edit_whiskey_path(whiskey) %></td>
        <td><%= link_to 'Destroy', whiskey, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Whiskey', new_whiskey_path %>
