<div class="container mt-5 pt-5">
  <div class="row justify-content-center">
    <h1 class="col-auto text-muted text-center">
      <em>Whiskeys</em><br>
      <span class="fs-3">〜ウイスキー一覧〜</span>
    </h1>
  </div>
  <div class="row justify-content-center mt-5 mb-4">
    <%= search_form_for @q, url: whiskeys_path, class: 'col-auto' do |f| %>
      <div class="input-group">
        <%= f.text_field :name_cont, class: 'form-control-lg border-0 rounded-left search-width', placeholder: 'ウイスキー名を入力' %>
        <%= button_tag type: :submit, class: "btn bg-white rounded-right" do %>
          <i class="fa-solid fa-magnifying-glass fa-xl hover-target-reverse f-navy"></i>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="row justify-content-center mb-5">
    <%= link_to '　細かい条件で検索　', new_search_path, class: "fs-5 ui icon button rounded-pill col-auto bg-d-cream hover-target" %>
  </div>
</div>


<div class="container pt-5">
  <% if @searched_whiskeys.blank? %>
    <div class="row mb-2 justify-content-center">
      <div class="col-auto">
        Sorry…条件に合うウイスキーは見つかりませんでした.
      </div>
    </div>
  <% else %>
    <div class="row mb-2">
      <%= render @searched_whiskeys %>
    </div>
  <% end %>
</div>

<div class="py-5">
  <div class='container'>
    <div class='row mb-5 justify-content-center'>
      <div class="col-auto">
        <%== pagy_semantic_nav(@pagy) %>
      </div>
    </div>
  </div>
</div>