<% set_meta_tags title: 'ウイスキーを探す' %>
<div class="container mt-5 pt-5">
  <div class="row justify-content-center">
    <h1 class="col-auto text-muted text-center fw-bold">
      <em class="fs-3 fw-lighter">- Whiskeys -</em><br>
      ウイスキー一覧
    </h1>
  </div>

  <div class="row justify-content-center mt-5 mb-4">
    <%= search_form_for @q, url: whiskeys_path, class: 'col-12 row justify-content-center' do |f| %>
      <div class="ui action large input col-xl-3 col-lg-5 col-sm-8 col-auto">
        <%= f.text_field :name_or_description_cont, class: 'rounded-left border-0', placeholder: 'ウイスキー名を入力' %>
        <%= button_tag type: :submit, class: 'ui icon button rounded-right bg-white' do %>
          <i class="fa-solid fa-magnifying-glass fa-xl hover-target-reverse f-navy"></i>
        <% end %>
      </div>

      <a class="col-12 text-center text-muted collapsed simple-a-tag hover-target my-3" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
        <i class="filter icon"></i>相性で絞り込む
      </a>

      <div id="flush-collapseOne" class="accordion-collapse collapse bg-gray col-auto row rounded-15p" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
        <div class="col-12 row justify-content-center mt-4">
          <div class='col-auto my-2 my-sm-0'>
            <%= f.collection_select :drink_way_id_eq, DrinkWay.all, :id, :name, { include_blank: sanitize('&#129347;飲み方で絞る') }, { class: 'form-select' } %>
          </div>
          <div class='col-auto my-2 my-sm-0'>
            <%= f.collection_select :snack_id_eq, Snack.all, :id, :name, { include_blank: sanitize('&#129372;おつまみで絞る') }, { class: 'form-select' } %>
          </div>
          <div class='col-auto my-2 my-sm-0'>
            <%= f.submit '絞り込む', class: 'ui button orange' %>
          </div>
        </div>
        <div class="col-12 row justify-content-center my-4">
          <%= link_to '　さらに細かく絞り込む　', new_search_path, class: "simple-a-tag hover-target text-muted text-center" %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="row justify-content-center mt-5">
    <%= render 'shared/link_to_index', path: drink_ways_path, text: '&#129347; 飲み方' %>
    <%= render 'shared/link_to_index', path: snacks_path, text: '&#129372; おつまみ' %>
    <%= render 'shared/link_to_index', path: flavors_path, text: '&#127822; フレーバー' %>
  </div>
</div>


<div class="container pt-5">
  <div class='row justify-content-end mb-3'>
    <div class="field col-auto my-auto">
      <select class="form-select rounded-3" onChange="location.href=value;">
        <option value="">並び替え</option>
        <option value="<%= sort_by_sort_url(sort_url(@q, :updated_at), 'updated_at+desc') %>">新着順</option>
        <option value="<%= sort_by_sort_url(sort_url(@q, :price), 'price+desc') %>">価格の高い順</option>
        <option value="<%= sort_by_sort_url(sort_url(@q, :price), 'price+asc') %>">価格の安い順</option>
        <option value="<%= sort_by_sort_url(sort_url(@q, :rarity), 'rarity+desc') %>">入手のし易さ：安定供給</option>
        <option value="<%= sort_by_sort_url(sort_url(@q, :rarity), 'rarity+asc') %>">入手のし易さ：激レア</option>
        <option value="<%= sort_by_sort_url(sort_url(@q, :updated_at), 'mouth_feel+asc') %>">口当たり：軽い順</option>
        <option value="<%= sort_by_sort_url(sort_url(@q, :updated_at), 'mouth_feel+desc') %>">口当たり：重い順</option>
        <option value="<%= sort_by_sort_url(sort_url(@q, :updated_at), 'flavor_strength+asc') %>">香りの強さ：繊細な順</option>
        <option value="<%= sort_by_sort_url(sort_url(@q, :updated_at), 'flavor_strength+desc') %>">香りの強さ：濃厚な順</option>
      </select>
    </div>
  </div>

  <% if @searched_whiskeys.blank? %>
    <div class="row mb-2 justify-content-center">
      <div class="col-auto">
        Sorry…条件に合うウイスキーは見つかりませんでした.
      </div>
    </div>
  <% else %>
    <div class="row mb-2 gx-5 gy-4 justify-content-center">
      <%= render @searched_whiskeys %>
    </div>
  <% end %>
</div>

<div class="py-5">
  <div class='container'>
    <div class='row mb-5 justify-content-center'>
      <div class="col-auto">
        <%== pagy_semantic_nav(@pagy) %>
      </div>
    </div>
  </div>
</div>