<div class="py-5">
  <div class='container'>
    <div class='row mb-5'>
      <div class=" col-md-10 offset-md-1 col-lg-8 offset-lg-2">
        <h1 class='text-center'>Whiskeys</h1>
      </div>
    </div>
  </div>
  <div class="row justify-content-center my-5">
    <%= search_form_for @q, url: whiskeys_path, class: 'col-auto' do |f| %>
        <div class="input-group">
          <%= f.text_field :name_cont, class: 'form-control-lg border-0 rounded-left search-width', placeholder: 'ウイスキー名を入力' %>
          <%= button_tag type: :submit, class: "btn bg-white rounded-right" do %>
            <i class="fa-solid fa-magnifying-glass fa-xl hover-target-reverse f-navy"></i>
          <% end %>
        </div>
      <% end %>
  </div>

  <div class="container">
    <div class="row mb-2">
      <%= render @searched_whiskeys %>
    </div>
  </div>

<div class="py-5">
  <div class='container'>
    <div class='row mb-5 justify-content-center'>
      <div class="col-auto">
        <%== pagy_semantic_nav(@pagy) %>
      </div>
    </div>
  </div>
</div>