<!-- 主情報 -->
<div class="container mt-5 pt-5">
  <div class="row justify-content-center">
    <div class="col-xl-9 col-auto row justify-content-center text-center rounded bg-white">
      <div class="col-lg-4 text-center">
        <div class="col-12 my-5">
          <!-- 階層を変えるとインプレッション用の画像が表示されてしまうため改行しない -->
          <%= link_to @whiskey.amazon_link, target: '_blank' do %><%= image_tag @whiskey.amazon_image_link, class: 'border-none' %><% end %> 
          <%= image_tag @whiskey.amazon_impression_link, alt: '', size: '1x1', style: 'border:none !important; margin:0px !important' %>
        </div>
        <div class="row justify-content-center">
          <div class="col-auto mb-lg-4">
            <%= render 'bookmark_button', whiskey: @whiskey if logged_in? %>
            <%= render 'bookmark', whiskey: @whiskey unless logged_in? %>
          </div>
          <div class="col-auto mb-lg-4">
            <%= link_to anchor: "indexTastingNote" do %>
              <div class='ui bg-navy text-white image label large'>
                <%= image_tag 'icon_pen.png' %>
                　投稿数　
                <div class="detail"><%= @tasting_notes.length %></div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-lg-7 text-lg-start ms-lg-5 my-5">
        <div class="row justify-content-lg-between justify-content-center mb-3">
          <h5 class="col-lg-auto col-12 text-muted my-auto order-lg-0 order-1">
            <%= @whiskey.region_i18n %>ウイスキー<span class="d-none d-sm-inline">　/　</span><span class='d-sm-inline d-block mt-sm-0 mt-3'><%= @whiskey.processing_i18n %></span>
          </h5>
        </div>
        <div class="row justify-content-lg-start justify-content-center">
          <h1 class="col-auto my-3 fw-bold">
            <%= @whiskey.name %>
          </h1>
        </div>

        <div class="row justify-content-lg-start justify-content-center">
          <h6 class="mt-4">
            <%= render partial: 'flavor', collection: @whiskey.flavors %>
          </h6>
        </div>

        <div class="row justify-content-lg-start justify-content-center">
          <h6 class="spacing-text mx-lg-auto mt-4 m-5">
            <%= simple_format(h(@whiskey.description)) %>
          </h6>
        </div>

        <h4 class="row text-muted my-auto justify-content-center justify-content-lg-start">
          <div class="col-auto my-auto">
            <span class="h5 mx-auto">希望小売価格 ¥</span><%= @whiskey.price.to_s(:delimited) %>
          </div>
          <div class="col-auto">
            <%= link_to @whiskey.amazon_link, target: '_blank' do %>
              <button class="ms-xl-5 ms-lg-3 my-xl-5 my-3 my-xl-auto ui button amazon-button"><i class="amazon icon"></i>Amazonで見る</button> <!-- lg幅のボタン配置要改善 -->
            <% end %>
          </div>
        </h4>
      </div>
      <div class="row justify-content-center mb-5 mt-3">
        <a class="col-auto fs-4 border-bottom text-muted collapsed simple-a-tag hover-target" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
          もっと詳しく
        </a>
      </div>
      <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
        <div class="row justify-content-center my-5">
          <div class="col-lg-4 col-10 fs-1 f-orange my-xl-auto mt-3 order-lg-1 order-2">
            <%= draw_rating(@whiskey.flavor_strength_before_type_cast, 5) %>
          </div>
          <div class="col-lg-5 col-10 row text-center order-lg-2 order-1">
            <div class="col-12 fs-5 fw-ligt">
              ー 香りの強さ ー
            </div>
            <div class="col-12 display-5">
              <%= @whiskey.flavor_strength_i18n %>
            </div>
          </div>
        </div>
        <div class="row justify-content-center my-5">
          <div class="col-lg-4 col-10 fs-1 f-orange my-xl-auto mt-3 order-lg-1 order-2">
            <%= draw_rating(@whiskey.mouth_feel_before_type_cast, 5) %>
          </div>
          <div class="col-lg-5 col-10 row text-center order-lg-2 order-1">
            <div class="col-12 fs-5 fw-ligt">
              ー 口当たり ー
            </div>
            <div class="col-12 display-5">
              <%= @whiskey.mouth_feel_i18n %>
            </div>
          </div>
        </div>
        <div class="row justify-content-center my-5">
          <div class="col-lg-4 col-10 fs-1 f-orange my-xl-auto mt-3 order-lg-1 order-2">
            <%= draw_rating(@whiskey.rarity_before_type_cast, 3) %>
          </div>
          <div class="col-lg-5 col-10 row text-center order-lg-2 order-1">
            <div class="col-12 fs-5 fw-ligt">
              ー 入手難易度 ー
            </div>
            <div class="col-12 display-5">
              <%= @whiskey.rarity_i18n %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container mt-5 pt-5">
  <div class="row justify-content-center">
    <h1 class="col-auto text-muted text-center fw-bold">
      <em class='fs-3 fw-light'>- Pairing -</em><br>
      相性を楽しむ
    </h1>
  </div>
  <div class="row justify-content-center mt-4">
    <div class="col-lg-9 col-6 ui divider border-2">
    </div>
  </div>
</div>

<!-- paring -->
<div class="container mt-5">
  <div class="row justify-content-center">
    <%= link_to drink_ways_path(anchor: "#{@whiskey.drink_way.english_name}"), class: 'col-xl-9 row text-center rounded shadow bg-white p-0 transform-y-md simple-a-tag hover-target-reverse' do %>
      <%= image_tag @whiskey.drink_way.image.url, class: 'img-fluid col-lg-4 p-0' if @whiskey.drink_way.image? %>
      <div class="col-lg-8 my-5">
        <h5 class="text-muted mb-3">
          相性のいい飲み方
        </h5>
        <h1 class="my-4">
          <%= @whiskey.drink_way.name %>
        </h1>
        <h4><em>
          <%= @whiskey.drink_way.english_name %>
        </em></h4>
      </div>
    <% end %>
  </div>
</div>

<div class="container mt-5" id='indexTastingNote'>
  <div class="row justify-content-center">
    <%= link_to snacks_path(anchor: "#{@whiskey.snack.english_name}"), class: 'col-xl-9 row text-center rounded shadow bg-white p-0 transform-y-md simple-a-tag hover-target-reverse' do %>
      <%= image_tag @whiskey.snack.image.url, class: 'img-fluid col-lg-4 p-0' if @whiskey.snack.image? %>
      <div class="col-lg-8 my-5">
        <h5 class="text-muted mb-3">
          フードペアリング
        </h5>
        <h1 class="my-4">
          <%= @whiskey.snack.name %>
        </h1>
        <h4><em>
          <%= @whiskey.snack.english_name %>
        </em></h4>
      </div>
    <% end %>
  </div>
</div>
<!-- 保留
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-lg-10 row justify-content-between px-lg-5">
      <div class="col-lg-5 col-12 bg-white text-center rounded ms-lg-5 my-5 px-0 shadow">
        <div class="my-2 py-2">
          <h5 class="lead text-muted">相性のいい飲み方</h5>
          <h4 class="display-5"><%= @whiskey.drink_way.name %></h4>
          <h6><em><%= @whiskey.drink_way.english_name %></em></h6>
        </div>
        <%= image_tag @whiskey.drink_way.image.url, class: 'img-fluid mt-2' if @whiskey.drink_way.image? %>
      </div>

      <div class="col-lg-5 col-12 bg-white text-center rounded me-lg-5 my-5 px-0 shadow">
        <div class="my-2 py-2">
          <h5 class="lead text-muted">フードペアリング</h5>
          <h4 class="display-5"><%= @whiskey.snack.name %></h4>
          <h6><em><%= @whiskey.snack.english_name %></em></h6>
        </div>
        <%= image_tag @whiskey.snack.image.url, class: 'img-fluid mt-3' if @whiskey.snack.image? %>
      </div>
    </div>
  </div>
</div>
-->

<!-- 投稿 -->
<div class="container mt-15">
  <div class="row justify-content-center">
    <h1 class="col-auto text-muted text-center fw-bold">
      <em class="fs-3 fw-light">- Tasting Notes -</em><br>
      <span>ユーザー投稿</span>
    </h1>
  </div>
  <div class="row justify-content-center mt-4 mb-5">
    <div class="col-lg-9 col-6 ui divider border-2">
    </div>
  </div>
</div>

<div class="container mb-5">
  <%= render partial: 'tasting_notes/note', collection: @tasting_notes, locals: { width: 'xl' } %>
</div>

<!-- 投稿フォーム -->
<% if current_user %>
  <%= render 'create_tasting_note', { tasting_note: @tasting_note, whiskey: @whiskey } %>
<% end %>

<!-- レコメンド-->
<div class="container mt-15">
  <div class="row justify-content-center">
    <h1 class="col-auto text-muted text-center fw-bold">
      <em class="fs-3 fw-light">- You may also like ... -</em><br>
      <span>似ているウイスキー</span>
    </h1>
  </div>
  <div class="row justify-content-center mt-4">
    <div class="col-lg-9 col-6 ui divider border-2">
    </div>
  </div>
</div>

<div class="container pt-5">
  <% if @recommended_whiskey.blank? %>
    <div class="row mb-2 justify-content-center">
      <div class="col-auto">
        似ているウイスキーが見つかりませんでした…ウイスキーの追加登録をお待ち下さい！
      </div>
    </div>
  <% else %>
    <div class="row mb-2 gx-5 gy-4 justify-content-center">
      <%= render @recommended_whiskey %>
    </div>
  <% end %>
</div>