<p></p>
<p></p>
<p id="notice"><%= notice %></p>
<%= @whiskey.name %>
<%= @whiskey.description %>
<%= @whiskey.feeling_to_whiskey_with_tongue %>
<%= @whiskey.flavor_strength %>
<%= @whiskey.rarity %>
<%= @whiskey.reasonable_price %>
<%= link_to 'Edit', edit_whiskey_path(@whiskey) %> |
<%= link_to 'Back', whiskeys_path %>
