<div class='row rounded bg-gray p-5 ui large form error mx-0'>
  <%= form_with model: [:admin, snack] do |f| %>
    <% if snack.errors.any? %>
      <div id="error_explanation" class="ui error message">
        <ul>
          <% snack.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="field my-4">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <div class="field my-4">
      <%= f.label :english_name %>
      <%= f.text_field :english_name %>
    </div>
    <div class="field my-4">
      <%= f.label :description %>
      <%= f.text_area :description %>
    </div>
    <div class="field my-4">
      <%= f.label :image %>
      <%= f.file_field :image %>
    </div>
    <div class="row justify-content-center mt-5">
      <%= f.submit class: 'ui button teal col-auto' %>
    </div>
  <% end %>
  <div class="col-12 text-center mt-5">
    <%= link_to '戻る', admin_snacks_path, class: 'col-auto simple-a-tag hover-target ui button' %>
  </div>
</div>