<div class="container mt-5 pt-5">
  <div class="row">
    <div class="col-12 text-center text-muted fs-1">
      おつまみ管理
    </div>
  </div>
</div>

<div class="container mt-5 pt-5">
  <div class="row">
    <div class="col-12">
      <table class="ui orange striped table">
        <thead><tr>
          <th>menu</th>
          <th>id</th>
          <th>name</th>
          <th>image</th>
          <th>english_name</th>
          <th>description</th>
        </tr></thead>
        <% @snacks.each do |snack| %>
          <tbody><tr>
            <td>
              <%= link_to edit_admin_snack_path(snack), class: 'simple-a-tag hover-target text-muted fs-4' do %>
                <i class="edit icon"></i><br>
              <% end %>
              <%= link_to admin_snack_path(snack), method: :delete, data: { confirm: '削除して大丈夫ですか〜？' }, class: 'simple-a-tag hover-target text-danger fs-4' do %>
                <i class="trash alternate icon"></i>
              <% end %>
            </td>
            <td><%= snack.id %></td>
            <td class="fw-bold"><%= snack.name %></td>
            <td><%= (image_tag snack.image.url, size: '75x50' ) if snack.image? %></td>
            <td><%= snack.english_name %></td>
            <td><%= simple_format(h(snack.description)) %></td>
          </tr></tbody>
        <% end %>
      </table>
    </div>
  </div>
</div>

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-auto">
      <%= link_to 'おつまみ作成', new_admin_snack_path, class: 'ui button inverted orange huge' %>
    </div>
  </div>
</div>