<div class='row rounded bg-gray p-5 ui large form error mx-0'>
  <%= form_with model: [:admin, user] do |f| %>
    <% if user.errors.any? %>
      <div id="error_explanation" class="ui error message">
        <ul>
          <% user.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="field my-4">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <div class="field my-4">
      <%= f.label :best_bottle %>
      <%= f.text_field :best_bottle %>
    </div>
    <div class="field my-4">
      <%= f.label :avatar %>
      <%= f.file_field :avatar %>
      <%= f.hidden_field :avatar_cache %>
    </div>
    <div class="row justify-content-center mt-5">
      <%= f.submit class: 'ui button teal col-auto' %>
    </div>
  <% end %>
  <div class="col-12 text-center mt-5">
    <%= link_to '戻る', admin_users_path, class: 'col-auto simple-a-tag hover-target ui button' %>
  </div>
</div>