<%= form_with(model: snack) do |form| %>
  <% if snack.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(snack.errors.count, "error") %> prohibited this snack from being saved:</h2>

      <ul>
        <% snack.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>
  
  <div class="field">
    <%= form.label :image %>
    <%= form.file_field :image %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
