<div id="<%= snack.english_name %>">
</div>

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-lg-9 row text-center rounded shadow bg-white p-0">
      <%= image_tag snack.image, class: 'img-fluid col-lg-4 col-12 m-0 p-0' if snack.image.attached?%>
      <div class="col-lg-8 col my-2">
        <h2 class="mt-2">
          <%= snack.name %>
        </h2>
        <h5 class="text-muted"><em>
          <%= snack.english_name %>
        </em></h5>
        <p class="my-5"><%= simple_format(h(snack.description)) %></p>
        <h6 class="my-3 hover-target">
          <span class="text-decoration-line-through"><i class="fa-solid fa-magnifying-glass"></i> <%= snack.name %>が合うウイスキーを探す</span> coming soon!
        </h6>
      </div>
    </div>
  </div>
</div>