<div class="container mt-5 pt-5">
  <div class="row justify-content-center">
    <h1 class="col-auto text-muted text-center">
      <em>Snacks</em><br>
      <span class="fs-3">〜おつまみ一覧〜</span>
    </h1>
  </div>
  <div class="row justify-content-center mt-4">
    <div class="col-lg-9 col-6 ui divider border-2">
    </div>
  </div>
</div>

<%= render @snacks %>

<% if logged_in? && current_user.admin? %>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>image</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @snacks.each do |snack| %>
        <tr>
          <td><%= snack.name %></td>
          <td><%= snack.description %></td>
          <td>
            <% if snack.image.attached? %>
              <%= image_tag snack.image.variant(resize_to_limit: [100, 100]) %>
            <% end %>
          </td>
          <td><%= link_to 'Show', snack %></td>
          <td><%= link_to 'Edit', edit_snack_path(snack) %></td>
          <td><%= link_to 'Destroy', snack, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>
  <%= link_to 'New Snack', new_snack_path %>
<% end %>
