<p id="notice"><%= notice %></p>

<div class="container mt-5 pt-5">
  <div class="row justify-content-center">
    <h1 class="col-auto text-muted text-center">
      Snacks<br>
      <span class="fs-3">〜おつまみ一覧〜</span>
    </h1>
  </div>
</div>

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-lg-9 row text-center rounded shadow bg-white p-0">
      <%= image_tag 'chocolate.jpg', class: 'img-fluid col-lg-4 col-12 m-0 p-0' %>
      <div class="col-lg-8 col my-2">
        <h2 class="mt-2">
          チョコレート
        </h2>
        <h5 class="text-muted"><em>
          chocolate
        </em></h5>
        <p class="my-3">スモークチーズだとなお良し。<br>長熟のウイスキーに長熟のチーズを合わせるなど、楽しみ方も幅広い。</p>
        <h6 class="text-muted mb-3">
          <i class="fa-solid fa-magnifying-glass"></i> チョコレートが合うウイスキーを探す
        </h6>
      </div>
    </div>
  </div>
</div>

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-lg-9 row text-center rounded shadow bg-white p-0">
      <%= image_tag 'chocolate.jpg', class: 'img-fluid col-lg-4 col-12 m-0 p-0' %>
      <div class="col-lg-8 col my-2">
        <h2 class="mt-2">
          チョコレート
        </h2>
        <h5 class="text-muted"><em>
          chocolate
        </em></h5>
        <p class="my-3">定番のお供。<br>ビターチョコとミルクチョコを比べてみるのもオススメです。</p>
        <h6 class="text-muted mb-3">
          <i class="fa-solid fa-magnifying-glass"></i> チョコレートが合うウイスキーを探す
        </h6>
      </div>
    </div>
  </div>
</div>


<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @snacks.each do |snack| %>
      <tr>
        <td><%= snack.name %></td>
        <td><%= snack.description %></td>
        <td><%= link_to 'Show', snack %></td>
        <td><%= link_to 'Edit', edit_snack_path(snack) %></td>
        <td><%= link_to 'Destroy', snack, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Snack', new_snack_path %>
