<!DOCTYPE html>
<html>
  <head>
    <%= display_meta_tags(default_meta_tags) %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- Use for Semantic UI -->
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- Use for Bootstrap5 -->
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <!-- GA4 -->
    <%= render 'layouts/google_analytics' if Rails.env.production? %>
  </head>

  <body>
    <%= separate_header %>
    <main class="mb-5 pb-5 <%= space_behind_head %>">
      <%= render 'shared/flash_message' %>
      <%= yield %>
    </main>
    <%= render 'shared/footer' %>
  </body>
</html>
